* {
  margin: 0;
  padding: 0;
  font-family: Roboto Condensed, sans-serif;
}

html,
body {
  height: 100%;
  background-color: #ffffff;
}

/* HEADER */

.main {
  margin: auto;
  max-width: 1200px;
  padding: 10px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/main.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* NAVIGATION */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b4832a;
  min-width: 230px;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
}

.dropdown-content li {
  padding: 4px;
  width: 230px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-list {
  float: left;
  font-variant: small-caps;
  font-size: 20px;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 10px;
}

/* Responsive layout */
@media screen and (max-width: 1000px) {
  .main-list {
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  .main-list {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .main-list {
    font-size: 18px;
    font-weight: bold;
  }
}

.main-list-item {
  display: inline-block;
}

.main-list-item a {
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  padding: 5px 20px;
}

.main-list-item li {
  transition: 0.3s ease;
}

.main-list-item li:hover {
  background-color: rgb(89, 73, 46);
}

/* TITLE */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  -webkit-text-stroke: 0.5px #d1a954;
  -moz-text-stroke: 0.5px #d1a954;
  -ms-text-stroke: 0.5px #d1a954;
  -o-text-stroke: 0.5px #d1a954;
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.logo-text{
  text-align: left;
  font-size: 1em;
  color: white;
  margin-left: 20px; /* Добавим отступ между изображением и текстом */
}

.logo {
  width: 250px;
  height: 50px;
  float: right;
  display: flex; /* Используем flexbox для размещения изображения и текста в ряд */
  align-items: center; /* Выравниваем элементы по вертикали */
}

/* MAIN CONTENT */
.page-wrapper {
  min-height: 100%;
  padding: 1% 20% 1% 20%;
}

@media screen and (max-width: 800px) {
  .page-wrapper {
    min-height: 100%;
    padding: 1% 10% 1% 10%;
  }
}

/* HISTORY */
.history-para {
  font-size: 1.2em;
  padding: 13px 0 13px 0;
}

.history-heading1 {
  padding: 20px;
  text-align: center;
}

.history-list {
  margin-left: 40px;
}

.history-list a {
  text-decoration: none;
}

/* Calendar */
.calendar-heading-date {
  font-size: 1.5em;
  font-weight: 600;
  border-bottom: 1px solid #E0E0E0;
  padding: 40px 0 20px 0;
}

.calendar-list li {
  list-style: none;
  font-size: 1.2em;
  color: #888; /* Серый цвет */
  padding: 50px 0 20px 0;
  margin: 0;
  border-bottom: 1px solid #E0E0E0;;
}

.calendar-item .event-time {
  font-weight: 300; /* Легкий шрифт для времени */
  font-size: 0.8em;
  padding: 10px 0;
}

.calendar-item .event-title {
  font-weight: 550; /* Жирный шрифт для заголовка мероприятия */
  padding-bottom: 10px;
}

.calendar-item .event-title a {
  text-decoration: none; /* Убираем подчеркивание */
  color: #333;
}

.calendar-item .event-title a:hover {
  color: #b7b400;
}

.calendar-item .event-location {
  font-weight: 200; /* Жирный шрифт для заголовка мероприятия */
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 20%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* IMAGE GALLERY */
.image-gallery {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.swiper-container {                    /** swiper-container **/
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.swiper-wrapper {
  height: 0;
}

.swiper-slide {
  justify-content: center;
  align-items: center;
  display: flex;
}

.gallery img {
  position: relative;
  width: 300px;
  height: 250px;
  z-index: 99;
}

.des {
  padding: 15px;
  text-align: center;
}

.responsive {
  height: 470px;
  width: 305px;
  /* margin-bottom: 40px; */
}

.button-slider {
  display: flex;
  flex-direction: row;
}
.last-slider {
  width: 50px;
  margin-left: 0;
  margin-right: auto;
  z-index: 99;
}
.next-slider {
  width: 50px;
  margin-right: 0;
  margin-left: auto;
  z-index: 99;
}
.slide-text {
  margin-left: 0;
}
.last-slider:hover,
.next-slider:hover {
  cursor: pointer;
}

/* NEWS */
.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки равной ширины */
  grid-gap: 40px; /* Пространство между элементами */
}

.news-item {
  margin: 20px 0;
  border-top: 1px solid #d7d7d7; /* Замените #000 на цвет рамки по вашему выбору */
}

.news-item img {
  width: 100%;
}

.news-item a {
  color: #333; /* Задайте желаемый цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
}

.news-item a:hover {
  color: #b7b400;
}

.news-item p {
  margin: 0;
  color: #848484;
}

.news-column h2 {
  font-size: 1.5em;
  padding-top: 20px;
}

@media screen and (max-width: 800px) {
  .news-grid {
    grid-template-columns: 1fr; /* Две колонки равной ширины */
  }

  .news-column {
    margin-bottom: 20px; /* Пространство между колонками на мобильных устройствах */
  }
}

/* FOOTER */
.footer {
  background: #303036;
  color: #d3d3d3;
  height: 170px;
  position: bottom;
}

.footer .footer-bottom {
  background-color: #343a40;
  color: #686868;
  text-align: center;
  height: 50px;
  /* position: absolute; */
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 20px;
}

.footer .footer-content {
  height: 170px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer-para {
  margin: 10px 0;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
}

.footer-section {
  text-align: center;
}

.footer-text {
  font-variant: initial;
  font-size: 1.5em;
}

.beautiful-paragraph {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  text-align: justify;
}

.beautiful-heading {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
  margin-top: 30px;
}
.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
