* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
}

html,
body {
  height: 100%;
  background: #333;
}

/* HEADER */

.main {
  -webkit-text-stroke: 0.5px #d1a954;
  -moz-text-stroke: 0.5px #d1a954;
  -ms-text-stroke: 0.5px #d1a954;
  -o-text-stroke: 0.5px #d1a954;
  margin: auto;
  max-width: 1200px;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid #d1a954;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.143), #333),
    url(../images/main.jpg);
  height: 100vh;
  /* border-bottom: 1px solid #d1a954; */
  background-size: cover;
  background-position: center;
}

/* NAVIGATION */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d1a954;
  border: #d1a954;
  min-width: 230px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 230px;
  top: 95px;
  background-color: #d1a954;
  border: #d1a954;
  min-width: 230px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  transition: 0.3s ease;
  padding: 4px 0;
  width: 230px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.submenu:hover .sub-dropdown-content {
  display: block;
}

.main-list {
  float: left;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 10px;
}

.main-list-item {
  display: inline-block;
}

.main-list-item .main-item, .sub-dropdown-content a {
  padding: 5px 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #fff;
  transition: 500ms;
}

.main-list-item li:hover .main-item {
  color: #d1a954;
}

.sub-dropdown-content li:hover a {
  color: #d1a954
}

.main-list-item li:hover {
  background-color: #fff;
  font-weight: 700;
  transition: 500ms;
}

/* Responsive layout */
@media screen and (max-width: 1000px) {
  .main-list {
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  .main-list {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .main-list {
    font-size: 18px;
    font-weight: bold;
  }
}

/* TITLE */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  -webkit-text-stroke: 0.5px #d1a954;
  -moz-text-stroke: 0.5px #d1a954;
  -ms-text-stroke: 0.5px #d1a954;
  -o-text-stroke: 0.5px #d1a954;
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.logo-text {
  text-align: left;
  margin-left: 20px;
  /* Добавим отступ между изображением и текстом */
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #fff;
  transition: 500ms;
}

.logo {
  width: 250px;
  height: 50px;
  float: right;
  display: flex;
  align-items: center;
}

/* MAIN CONTENT */
.page-wrapper {
  padding: 1% 20% 1% 20%;
  background-color: #333;
}

@media screen and (max-width: 800px) {
  .page-wrapper {
    min-height: 100%;
    padding: 1% 10% 1% 10%;
  }
}

/* HISTORY */
.history-para {
  font-size: 1.2em;
  padding: 13px 0 13px 0;
  color: #989898;
}

.history-heading1 {
  padding: 20px;
  text-align: center;
  color: #d1a954;
}

.history-heading2 {
  color: #d1a954;
}

.history-list {
  margin-left: 40px;
}

.history-list a {
  text-decoration: none;
}

/* Calendar */
.calendar-heading-date {
  font-size: 1.5em;
  font-weight: 600;
  border-bottom: 1px solid #E0E0E0;
  padding: 40px 0 20px 0;
  color: #989898;
}

.calendar-list li {
  list-style: none;
  font-size: 1.2em;
  padding: 50px 0 20px 0;
  margin: 0;
  border-bottom: 1px solid #e0e0e03a;
  color: #989898;
}

.calendar-item .event-time {
  font-weight: 300;
  font-size: 0.8em;
  padding: 10px 0;
}

.calendar-item .event-title {
  font-weight: 550;
  padding-bottom: 10px;

}

.calendar-item .event-title a {
  text-decoration: none;
  color: #989898;
}

.calendar-item .event-title a:hover {
  color: #d1a954;
}

.calendar-item .event-location {
  font-weight: 200;
}

.column {
  flex: 20%;
  max-width: 20%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* TOURISM */
.tourism {
  padding: 20px 0;
}

.attraction {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 20px 0;
}

.attraction img {
  width: 350px;
  height: 270px;
  border: 1px solid #d1a954;
  margin-right: 40px;
  object-fit: cover;
}

.attraction-info {
  max-width: 500px;
}

.attraction-info h2 {
  color: #989898;
  padding-bottom: 30px;
}

.attraction-info p {
  color: #989898;
  padding-bottom: 50px;
}

.attraction-info a {
  color: #989898;
  text-decoration: none;
}

.attraction-info a:hover {
  color: #d1a954;
}

@media screen and (max-width: 1000px) {
  .attraction {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .attraction img {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .attraction-info {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1a954;
  }
}

.image-gallery {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.swiper-container {
  /** swiper-container **/
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.swiper-wrapper {
  height: 0;
}

.swiper-slide {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #989898;
}

.gallery img {
  position: relative;
  width: 300px;
  height: 250px;
  z-index: 99;
}

.des {
  padding: 15px;
  text-align: center;
}

.responsive {
  height: 470px;
  width: 305px;
  /* margin-bottom: 40px; */
}

.button-slider {
  display: flex;
  flex-direction: row;
  color: #d1a954;
}

.last-slider {
  width: 50px;
  margin-left: 0;
  margin-right: auto;
  z-index: 99;
}

.next-slider {
  width: 50px;
  margin-right: 0;
  margin-left: auto;
  z-index: 99;
}

.slide-text {
  margin-left: 0;
}

.last-slider:hover,
.next-slider:hover {
  cursor: pointer;
}

/* NEWS */
.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.news-item {
  color: #989898;
  margin: 20px 0;
  border-top: 1px solid #989898;
}

.news-item img {
  width: 100%;
}

.news-item a {
  color: #989898;
  text-decoration: none;
}

.news-item a:hover {
  color: #d1a954;
}

.news-item p {
  margin: 0;
  padding: 10px 0;
  font-weight: 100;
}

.news-column h2 {
  font-size: 1.5em;
  padding: 20px 0;
  color: #d1a954;
  border-bottom: 1px solid #d1a954;
  ;
}

@media screen and (max-width: 800px) {
  .news-grid {
    grid-template-columns: 1fr;
  }

  .news-column {
    margin-bottom: 20px;
  }
}

/* CONTACTS */
.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.form-send {
  display: flex;
  width: 100%;
}

.contacts-text {
  width: 20%;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 10%;
}

.contact-text {
  margin-bottom: 20px;
}

.form-text-input {
  width: 800px;
}

.contact-form {
  display: grid;
  grid-template-areas: "post-1 post-2 post-3 post-3"
    "post-4 post-5 post-3 post-3";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 25px;
}

.form-input,
.form-input-mess {
  background-color: #444;
  border: 1px solid #616161;
  outline: none;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

.form-input {
  height: 30px;
}

.form-input-mess {
  grid-area: post-3;
}

.button-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  width: 50%;
  font-size: 13px;
  color: #989898;
  margin-right: 40%;
}

.button {
  -webkit-text-stroke: #fff;
  -moz-text-stroke: #fff;
  -ms-text-stroke: #fff;
  -o-text-stroke: #fff;
  background-color: #d1a954;
  color: #fff;
  border: #d1a954;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.05em;
  width: 95px;
  height: 40px;
  outline: none;
  transition: 500ms;
}

.button:hover {
  -webkit-text-stroke: #d1a954;
  -moz-text-stroke: #d1a954;
  -ms-text-stroke: #d1a954;
  -o-text-stroke: #d1a954;
  background-color: #fff;
  border: #fff;
  color: #d1a954;
  font-weight: 700;
  transition: 500ms;
  cursor: pointer;
}

@media (max-width: 992px) {
  .form-send {
    display: flex;
    flex-direction: column-reverse;
  }

  .contacts-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80px;
    margin: 0;
  }

  .numbers,
  .places {
    display: inline-block;
    width: 50%;
  }

  .places {
    text-align: right;
  }

  .form-text-input {
    width: 100%;
    margin-bottom: 20px;
  }

}

@media(max-width:576px) {
  .contact-text {
    font-size: px;
  }

  .contact-form {
    grid-template-areas: "post-1 post-2"
      "post-4 post-5"
      "post-3 post-3"
      "post-3 post-3";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .button-info {
    flex-direction: column;
  }

  .info {
    width: 250px;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

/* MAP */
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

/* DOCUMENTS */
.documents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
  padding: 50px;
}

.document {
  border: 1px solid #d1aa544f;
  text-decoration: none;
  height: 200px;
  padding: 30px;
  border-radius: 10px;
  color: #989898;
  display: block;
}

.document:hover {
  box-shadow: 0 0 10px #c0a671;
  transition: 500ms;
}

.document h3 {
  padding-bottom: 40px;
  font-weight: bold;
}

.document p {
  font-size: 13px;
  color: #989898;
  margin: 5px 0;
}

@media screen and (max-width: 1000px) {
  .documents {
    display: flex;
    flex-direction: column;
  }
  
  .document {
    margin-bottom: 40px;
  }
  
  .document h3 {
    padding-bottom: 20px;
  }
}

/* FOOTER */
.footer {
  background: #313131;
  margin-top: 70px;
  color: #d3d3d3;
  height: 170px;
  position: bottom;
}

.footer .footer-bottom {
  background: #313131;
  color: #686868;
  border-top: 1px solid #686868;
  text-align: center;
  height: 50px;
  /* position: absolute; */
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 20px;
}

.footer .footer-content {
  height: 170px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer-para {
  margin: 10px 0;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
}

.footer-section {
  text-align: center;
}

.footer-text {
  font-variant: initial;
  font-size: 1.5em;
}

/* Новости */
.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-title {
  color: #d1a954;
  font-size: 24px;
  margin: 30px 0px;
}

.news-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.news-date {
  color: #989898;
  font-weight: 100;
  font-size: 14px;
  margin: 10px 0px;
}

.news-description, .news-topic {
  color: #989898;
  font-size: 16px;
  padding: 20px 0;
}

.news-description {
  font-weight: 600;
  border-bottom: 1px solid #686868;
}

.news-main-header div {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.143), #333), */
    /* url(../images/main.jpg); */
  /* height: 100vh; */
  /* border-bottom: 1px solid #d1a954; */
  background-size: cover;
  background-position: center;
}
