* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #ebe5dd;
}

/* HEADER */

.main {
  margin: auto;
  max-width: 1200px;
  padding: 10px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/main.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* NAVIGATION */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b4832a;
  min-width: 230px;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
}

.dropdown-content li {
  padding: 4px;
  width: 230px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-list {
  float: left;
  font-variant: small-caps;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 10px;
}

/* Responsive layout */
@media screen and (max-width: 1000px) {
  .main-list {
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  .main-list {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .main-list {
    font-size: 18px;
    font-weight: bold;
  }
}

.main-list-item {
  display: inline-block;
}

.main-list-item a {
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  padding: 5px 20px;
  transition: 0.7s ease;
}

.main-list-item a:hover {
  background-color: rgb(89, 73, 46);
}

.active {
  background-color: rgb(89, 73, 46);
}

/* TITLE */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  color: white;
  font-size: 4vw;
  font-variant: small-caps;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.logo-text{
  text-align: left;
  font-size: 1em;
  color: white;
  margin-left: 20px; /* Добавим отступ между изображением и текстом */
}

.logo {
  width: 250px;
  height: 50px;
  float: right;
  display: flex; /* Используем flexbox для размещения изображения и текста в ряд */
  align-items: center; /* Выравниваем элементы по вертикали */
}

/* MAIN CONTENT */
.page-wrapper {
  min-height: 100%;
}

/* HISTORY */
.history {
  margin: 20px;
}

.history-para {
  padding: 13px;
}

.history-heading1 {
  margin: 2px;
  padding-top: 20px;
  text-align: center;
}

.history-heading2 {
  margin: 2px;
  padding-top: 20px;
}

.history-list {
  margin-left: 40px;
}

.history-list a {
  text-decoration: none;
}

/* IMAGE GALLERY */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* IMAGE GALLERY */
.image-gallery {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.gallery {
  border: 1px solid #ccc;
}

.gallery img {
  width: 100%;
  height: auto;
}

.des {
  padding: 15px;
  text-align: center;
}

.responsive {
  margin-top: 10px;
  padding: 0 7px;
  width: 290px;
}

/* FOOTER */
.footer {
  background: #303036;
  color: #d3d3d3;
  height: 140px;
  position: bottom;
}

.footer .footer-bottom {
  background-color: #343a40;
  color: #686868;
  text-align: center;
  height: 50px;
  /* position: absolute; */
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 20px;
}

.footer .footer-content {
  height: 140px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer-para {
  margin: 10px 0;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
}

.footer-section {
  text-align: center;
}

.footer-text {
  font-variant: initial;
  font-size: 1.5em;
}

.beautiful-paragraph {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  text-align: justify;
}

.beautiful-heading {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
  margin-top: 30px;
}

.calendar-list ul {
  margin-bottom: 40px;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
